#title-header {
	text-align: center;
}
	#title-header h1 {
		background-color: pink;
		padding: 1em 0 0.5em 0;
		margin: -0.25em 0 0 0;
	}

	#navbar-links ul {
		background-color: seashell;
	}

		#navbar-links li {
			display: inline-block;
			margin: 0.5em 1em 0 1em;
		}

.app-list {
	background-color: beige;
	margin: 2em;
	padding: 2em;

}

.app-view {
	
	margin: 0.75em;
	padding: 0.75em;
	float: left;

/*	background-color: blanchedalmond;
	border-radius: 1.5em;
	width: 20%;*/
	

}

img.appView {
	height: 7.15em;
	border-radius: 1.26em;
}


navbar #sort-by-color {
}

.sort{
	display: inline-block;
}
.sort:hover{
	cursor: pointer;
}


.color {
	width: 9.35%;
	height: 1.5em;
	margin: 0 0.1em 0 0.1em;
}


#Red {
	background-color: red;
}
#Orange {
	background-color: orange;
}
#Yellow {
	background-color: yellow;
}
#Green {
	background-color: green;
}
#Blue {
	background-color: blue;
}
#Violet {
	background-color: violet;
}
#Brown {
	background-color: brown;
}
#Black {
	background-color: black;
}
#Grey {
	background-color: grey;
}
#White {
	background-color: white;
	border: solid lightgrey 1px;
}






.template {
	height: 100%;
	width: 30%;
	/*float: right;*/

	position: fixed;
 	bottom: 1em;
  	left: 1em;
  	clear: both;
}

.iPhone-5 {
	background-image: url(../images/template_iphone.png);
	background-size: 100%;
	height: 720px;
}
/*	.iPhone-5 img {
		height: 100%;
	}
*/


.templates-screen {
	margin-left: 10.1%;
}
.templates-row {

}
.first-row {
	margin-top: 9.5em;
}
.last-row {
	margin-top: 1em;
}
.templates-app {
	height: 4.2em;
	width: 4.2em;
	margin: 0.5em 0.25em 0.5em 0.25em;
	border-radius: 1em;
	background-color: beige;
	display: inline-block;
}








