<navbar id="navbar-links" class="navbar-leftside">
  <ul>

    <li><h5 class="navbar-links-item" id="navbar-about" href="#"> About </h5></li>
    <li><h5 class="navbar-links-item" id="navbar-contact" href="#"> Contact </h5></li>
    <!-- message -->
    <li>
      <h5 id="message-search"><span id="message-price">All</span> <span id="message-color"></span> <span id="message-genre"></span> <span id="message-view">apps</span></h5>
    </li>
  </ul>
</navbar>