
    <nav class="navbar navbar-default" role="navigation">


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <!-- SEARCHBAR: search for new apps -->
          <form action="" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input id="app-search-input" type="text" class="form-control" placeholder="add app (soon: search)">
            </div>
            <button type="submit" class="btn btn-default"><span id="app-search-button" class="sort glyphicon glyphicon-search"></span></button>
          </form>


          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            
          </ul>

          <ul class="nav navbar-nav navbar-right">

            <%if session[:user_id]%> <!-- these appear if logged in -->

              <li> <!-- dropdown menu: templates -->
                <form action="">
                  <select name="template_id"><!-- user id is session-->
                    <option value="">hi</option>
                    <option value="">bye</option>
                    <!-- insert ruby stuff to generate templates -->
                  </select>                
                </form>
              </li>

              <li><a href="/users/<%=session[:user_id]%>">My Profile</a></li>

              <li> <!--logout button-->
                <form action="/session" method="POST">
                  <input type="hidden" name="_method" value="DELETE">
                  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
                  <button type="submit" class="btn btn-default">Log out</button>
                </form>
              </li>
              
            <%else%> <!-- these appear if you're not logged in -->
              <li><a href="/users/new"> <button type="submit" class="btn btn-default">Sign up</button></a></li>

              <li> <!-- log in -->
                <form action="/login" method="POST">
                  <input type="text" name="email" placeholder="Email">
                  <input type="password" name="password" placeholder="Password">
                  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
                   <button type="submit" class="btn btn-default">Log in</button>
                </form>
              </li>
            <%end%>

           
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>