<div class="template iPhone-6">
<!--   <img src="./images/template_iphone.png">
 -->  
  <div class="templates-screen">
    <div class="templates-row first-row">
      <div class="templates-app"></div>
      <div class="templates-app"></div>
      <div class="templates-app"></div>
      <div class="templates-app"></div>
    </div>
    <div class="templates-row">
      <div class="templates-app"></div>
      <div class="templates-app"></div>
      <div class="templates-app"></div>
      <div class="templates-app"></div>
    </div>
    <div class="templates-row">
      <div class="templates-app"></div>
      <div class="templates-app"></div>
      <div class="templates-app"></div>
      <div class="templates-app"></div>
    </div>
    <div class="templates-row">
      <div class="templates-app"></div>
      <div class="templates-app"></div>
      <div class="templates-app"></div>
      <div class="templates-app"></div>
    </div>
    <div class="templates-row">
      <div class="templates-app"></div>
      <div class="templates-app"></div>
      <div class="templates-app"></div>
      <div class="templates-app"></div>
    </div>
    <div class="templates-row last-row">
      <div class="templates-app"></div>
      <div class="templates-app"></div>
      <div class="templates-app"></div>
      <div class="templates-app"></div>
    </div>
  </div>

</div>

<h1>Template iphone here</h1>