<header id="title-header">
  <h1>ColorApp.ly</h1>
  <%= render 'home/navbar' %>
</header>

<navbar id="sort-by-color">
  <div id="Black" class="sort color"></div>
  <div id="Grey" class="sort color"></div>
  <div id="White" class="sort color"></div>
  <div id="Yellow" class="sort color"></div>
  <div id="Green" class="sort color"></div>
  <div id="Blue" class="sort color"></div>
  <div id="Violet" class="sort color"></div>
  <div id="Red" class="sort color"></div>
  <div id="Orange" class="sort color"></div>
  <div id="Brown" class="sort color"></div>
</navbar>

<navbar id="sort-by-genre">
  <ul>
    <li id="Games" class="sort genre">Games</li>
    <li id="Health & Fitness" class="sort genre">Health & Fitness</li>
    <li id="Photo & Video" class="sort genre">Photo & Video</li>
    <li id="Reference" class="sort genre">Reference</li>
    <li id="Business" class="sort genre">Business</li>
    <li id="Entertainment" class="sort genre">Entertainment</li>
    <li id="Music" class="sort genre">Music</li>
    <li id="Lifestyle" class="sort genre">Lifestyle</li>
    <li id="Weather" class="sort genre">Weather</li>
    <li id="Social Networking" class="sort genre">Social Networking</li>
    <li id="Utilities" class="sort genre">Utilities</li>
    <li id="Education" class="sort genre">Education</li>
    <li id="News" class="sort genre">News</li>
    <li id="Medical" class="sort genre">Medical</li>
    <li id="Navigation" class="sort genre">Navigation</li>
    <li id="Food & Drink" class="sort genre">Food & Drink</li>
    <li id="Productivity" class="sort genre">Productivity</li>
    <li id="Travel" class="sort genre">Travel</li>
    <li id="Sports" class="sort genre">Sports</li>
    <li id="Finance" class="sort genre">Finance</li>
  </ul>
</navbar>

<h3 id="message-search"><span id="message-price">All</span> <span id="message-color"></span> <span id="message-genre"></span> apps</h3>

<div id="main-content-area"></div>

<%= render 'home/template_iphone' %>

