<header id="title-header">
  <h1>ColorApp.ly</h1>
  <%= render 'home/navbar' %>
</header>

<navbar id="sort-by-color">
  <div id="Black" class="sort color"></div>
  <div id="Grey" class="sort color"></div>
  <div id="White" class="sort color"></div>
  <div id="Yellow" class="sort color"></div>
  <div id="Green" class="sort color"></div>
  <div id="Blue" class="sort color"></div>
  <div id="Violet" class="sort color"></div>
  <div id="Red" class="sort color"></div>
  <div id="Orange" class="sort color"></div>
  <div id="Brown" class="sort color"></div>
</navbar>

<navbar id="sort-by-genre">
  <span id="Games" class="sort genre">Games</span>
  <span id="Health & Fitness" class="sort genre">Health & Fitness</span>
  <span id="Photo & Video" class="sort genre">Photo & Video</span>
  <span id="Reference" class="sort genre">Reference</span>
  <span id="Business" class="sort genre">Business</span>
  <span id="Entertainment" class="sort genre">Entertainment</span>
  <span id="Music" class="sort genre">Music</span>
  <span id="Lifestyle" class="sort genre">Lifestyle</span>
  <span id="Weather" class="sort genre">Weather</span>
  <span id="Social Networking" class="sort genre">Social Networking</span>
  <span id="Utilities" class="sort genre">Utilities</span>
  <span id="Education" class="sort genre">Education</span>
  <span id="News" class="sort genre">News</span>
  <span id="Medical" class="sort genre">Medical</span>
  <span id="Navigation" class="sort genre">Navigation</span>
  <span id="Food & Drink" class="sort genre">Food & Drink</span>
  <span id="Productivity" class="sort genre">Productivity</span>
  <span id="Travel" class="sort genre">Travel</span>
  <span id="Sports" class="sort genre">Sports</span>
  <span id="Finance" class="sort genre">Finance</span>
</navbar>

<h1> Check out our apps </h1>

<div id="main-content-area"></div>



