<header id="title-header">
  <h1>ColorApp.ly</h1>
  <%= render 'home/navbar' %>
</header>

<navbar id="sort-by-color">
  <div id="black" class="sort color"></div>
  <div id="grey" class="sort color"></div>
  <div id="white" class="sort color"></div>
  <div id="yellow" class="sort color"></div>
  <div id="green" class="sort color"></div>
  <div id="blue" class="sort color"></div>
  <div id="violet" class="sort color"></div>
  <div id="red" class="sort color"></div>
  <div id="orange" class="sort color"></div>
  <div id="brown" class="sort color"></div>
</navbar>

<navbar id="sort-by-genre">

</navbar>

<h1> Check out our apps </h1>

<div id="main-content-area"></div>

