

<h3 id="message-search"><span id="message-price">All</span> <span id="message-color"></span> <span id="message-genre"></span> <span id="message-view">apps</span></h3>

<div id="main-content-area">
  <!-- <img id="loading-circle" src='/images/spinner.gif'> -->
</div>

<%= render 'home/template_iphone' %>

