<header id="title-header">
  <h1>ColorApp.ly</h1>
  <%= render 'home/navbar' %>
</header>







<h1> All the apps will be here </h1>

<ul id="app-list"></ul>

<div id="main-content-area"></div>

<!-- app-template -->
<script id="app-template" type="text/template">
  <article>
    <h1> hello, moto </h1>
  </article>
</script>