<navbar id="navbar-links">
	<ul>
		<li><h5 class="navbar-links-item" id="navbar-home" > Home </h5></li>
		<li><h5 class="navbar-links-item" id="navbar-all-users" > All Users</h5></li> 
		<li><h5 class="navbar-links-item" id="navbar-about" href="#"> About </h5></li>
		<li><h5 class="navbar-links-item" id="navbar-contact" href="#"> Contact </h5></li>
    
    
	</ul>
</navbar>

<!-- not currently in use -->