<h1>Sign up</h1>
<form action="/session" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<button>Log out</button>
</form>

<form action="/login" method="POST">
	<input type="text" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password">
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<button>Log in</button>
</form>

<%if @error == true%>
	<p style="color:red;">Please log in</p>
<%end%>