<nav id="navbar-administrative-tasks" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <h6 style="float:left"> General Assembly - August Web Development Immersive </h6>
    <h6 style="float:right"> ColorApp.in by Adrian Mh Lin</h6>

  </div>
</nav>