#signup-button-form {
	display: inline;

}

#navbar-account li {
	display: inline-block;
}

#message-search {
	text-align: center;
	cursor: pointer;
	float: left;
	margin-left: 22%;
	
}

	#message-search:hover {
		color: pink;
	}
