
div.modal-content{
	border-radius: 1.5em;
}


.modal-content {
	padding: 2em;
	
}
.modal-title {
	font-weight: bold;
}
.modal-genre {
	font-style: italic;
}

.app-list {

	margin-left: 2em;
	padding-left: 2em;

}


.app-view {

	margin: 0.75em;
	padding: 0.75em;
	float: left;

/*	background-color: blanchedalmond;
	border-radius: 1.5em;
	width: 20%;*/
	
}

img.appView {
	height: 7.15em;
	border-radius: 1.26em;
}
img.appView:hover {
	border: solid 5px lightpink;
}

.flash-notice {
	color: lightpink;
}

#navbar-account {
	
}

.info {
	background: beige;
	border-radius: 1em;
}

