

	#navbar-links ul {
		padding: 1em 0 1em 0;
		margin: -1em 0 0 0;
	}

		#navbar-links li {
			display: inline-block;
			margin: 0 1em 0 1em;
		}
	.navbar-links-item {
		cursor: pointer;
	}

.faded {
	opacity: 0.5;
}


.navbar-leftside {
	float: left;
	clear: left;
}

.navbar-rightside {
	float: right;
	clear: right;
	right: 0em;

}

#hero-image {
	width: 105%;
	margin-left: -1.5%;
	margin-top: 4.5%;
}

	.navbar-rightside a button {
		float: right;
	}

	.navbar-rightside form {
		clear: both;
	}
	.navbar-rightside button {
		margin: 1em 0 0 0;
	}



#title-colorappin {
	height: 4.5em;
	margin-left: 17em;
	margin-top: 0.5em;
	position: fixed;

}
#title-colorappin:hover {
	cursor: pointer;
}

#navbar-administrative-tasks {
	margin-bottom: -1em;
}



.glyphicon {
	color: lightseagreen;
}


li {
	list-style: none;
}
.invisible {
	opacity: 0;
}






button {
	background: snow !important;
}








.glyphicon-plus:hover {
	color: limegreen;
}
.glyphicon-save:hover {
	color: deepskyblue;
}
.glyphicon-folder-open:hover{
	color: gold;
}
.glyphicon-remove:hover {
	color: red;
}
.glyphicon-phone:hover {
	color: silver;
}